.cabecalho_style{
    background-color: #495057;
}

.cabecalho_div{
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: -2rem;

}

.img_class{
    width: 15rem;
    height: 15rem;
}

@media screen and (min-width: 400px ){
    .cabecalho_div{
        margin-top: 0;
       
    }
    
    
    
}